
/* Variables */
$background-color: #303841;
$game-height: 20em;
$game-width: 20em;

/* Device Breakpoints px - < 576 < 768 < 992 < 1200 */
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;
/* mixins */
@mixin respond-to($media) {
  @if $media == small {
    @media (min-width: $break-small) { @content; }
  } 
  @else if $media == medium {
    @media (min-width: $break-medium) and (min-height: $break-small) { @content; }
  }
  @else if $media == large {
    @media (min-width: $break-large) and (min-height: $break-small) { @content; }
  }
  @else if $media == xlarge {
    @media (min-width: $break-xlarge) and (min-height: $break-medium) { @content; }
  }
}

@mixin shake-few {
  animation: shake .5s;
  animation-iteration-count: 3;
}
/* animations */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // border: solid 1px black;
}
body {
  background: $background-color;
}

.shake {
  @include shake-few;
}
#t-t-t {
  #ttt-points {
    width: $game-width;
    max-width: 100%;

    padding: 0.4em;
    display: flex;
    justify-content: space-between;
  
    .AIpoints, .playerPoints {
      font-size: 3em;
    }
    .AIpoints {
      color: rgb(173, 26, 26);
    }
    .playerPoints {
      color: green;
    }
  }  

  #tic-tac-toe {
    height: $game-height;
    width: $game-width;
    max-height: 100%;
    max-width: 100%;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.4em;
    padding: 0.4em;
  
    div {
      background: green;
      height: 100%;
      width: 100%;
      
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 5em;
    }
  }
}

